html,body {

	margin:0px;
	padding: 0px;
	background: #2E87BF;
}
.websitename
{
	font-family: 'Itim', cursive;	
	position: absolute;
	top:160px;
	left:30%;
	font-size: 40px;
	color:white;
}
.login{
	font-family: 'Barlow Condensed', sans-serif;
	position: relative;
	top:200px;
	left:30%;
	width: 30%;
	height: 300px;
	background: #F2F2F2;
	margin:0px;
	border-radius: 10px;
	border: 0.1px solid black;
}
.loginbot
{
	font-family: 'Barlow Condensed', sans-serif;
	position: relative;
	top:650px;
	left:30%;
	width: 30%;
	height: 400px;
	background: #F2F2F2;
	margin:0px;
	border-radius: 10px;
	border: 0.1px solid black;
}
.textinlogin
{
	position: relative;
	top:75px;
	left:50px;
	font-size: 21px;
}

.button {
	position: relative;
	left :60px;
    background-color: #FDC179; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.top
{
	font-family: 'Itim', cursive;	
	position: absolute;
	width: 100%;
	height: 50px;
	background: #045FB4;
	color:white;
	font-size: 18px;
}
.reg
{
	font-family: 'Barlow Condensed', sans-serif;
	position: absolute;
	right: 40px;
	top:20px;
	width: 105px;
	height: 55px;
	font-size: 40px;
	border-radius: 10px;
	border: 0.1px solid black;
	background: #CEECF5;
}