html,body {

	margin:0px;
	padding: 0px;
}
.top
{
	position: relative;
	width: 100%;
	height: 60px;
	background: #2E87BF;
	margin:0px;
}
.topname
{
	position: absolute;
	font-family: 'Itim', cursive;	
	font-size: 23px;
	margin:0px;
}
.main
{
	position: relative;
	padding-top: 15px; 
	left: 10%;
	width: 80%;
	background: white;
}
.introname 
{
	position: relative;
	top:5px;
	left:5px; 
	font-family: 'Itim', cursive;	
	font-size: 30px;
}
.introdetail
{
	position: relative;
	font-family: 'Itim', cursive;	
	font-size: 20px;
	width: 50%;
	height: 100px;
	background: #D0F5A9;
	border-radius: 10px;
	border: 0.1px solid white;
}


.comment
{
	position: relative;
	left :5%;
	width: 90%;
	background: #E0ECF8;
	border-radius: 10px;
	border: 0.1px solid white;
}
.commentname
{
	position: relative;
	top:3.5%;
	left:3.5%;
	width:100%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 21px;
}
.commentdetail
{
	position: relative;
	top:3.5%;
	left:8%;
	width:100%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 18px;
}
.otcomment
{
	position: relative;
	width:100%;
	background: #81F7BE;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
}
.commentbot
{
	position: relative;
	width:100%;
	height:  5%;
	background:#FDC179;

}
.nlike
{

	position: relative;
	width:2%;
	left: 3px;
	font-family: 'Barlow Condensed', sans-serif;
	font-color:white;
	font-size: 21px;
	float:left; 
}
.like
{
	position: relative;
	width:10%;
	left: 2px;
	font-family: 'Barlow Condensed', sans-serif;
	color:white;
	font-size: 21px;
	float:left; 
}
.commentcomment
{
	position: relative;
	width:10%;
	font-family: 'Barlow Condensed', sans-serif;
	color:white;
	font-size: 21px;
	float:left;
}

