.register
{
	font-family: 'Barlow Condensed', sans-serif;
	color: white;
	position: relative;
	left:370px;
	top:100px;
	width: 720px;
	height: 500px;
	background-color:#2E87BF;
	border bottom: : 5px solid color:#FBC94B ;
   	border-radius: 10px;
   	font-size: 22px;
}
.text
{
	font-family: 'Barlow Condensed', sans-serif;
	position: relative;
	left: 60px;
	top: 5px;
	font-size: 20px;
}

.button {
	position: relative;
	left :60px;
	top:15px;
    background-color: #0B0B61; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}