html,body {

	margin:0px;
	padding: 0px;
}
.top
{
	font-family: 'Itim', cursive;	
	position: relative;
	width: 100%;
	height: 60px;
	background: #2E87BF;
	margin:0px;
}
.topname
{
	position: absolute;
	font-family: 'Itim', cursive;	
	font-size: 23px;
	margin:0px;
}
.firstpage
{
	position: absolute;
	font-family: 'Itim', cursive;	
	font-size: 18px;
	right: 200px;
	width: 100px;
}
.yourpage
{
	position: absolute;
	font-family: 'Itim', cursive;	
	font-size: 18px;
	right: 80px;
	width: 100px;
}
.feed
{
	position: relative;
	padding-top: 15px; 
	left: 7.5%;
	width: 70%;
	background: white;
}
.comment
{
	position: relative;
	left :5%;
	width: 90%;
	background: #E0ECF8;
	border-radius: 10px;
	border: 0.1px solid white;
}
.commentname
{
	position: relative;
	top:3.5%;
	left:3.5%;
	width:100%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 21px;
}
.rating
{
	position: absolute;
	right: 40px;
	top:5px;
	font-family: 'Itim', cursive;	
	font-size: 25px;
	color:#FA5858;
}
.commenttopic
{
	position: relative;
	top:3%;
	left:4%;
	width:100%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 19.5px;
}
.commentdetail
{
	position: relative;
	top:3.5%;
	left:8%;
	width:100%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 18px;
}
.otcomment
{
	position: relative;
	width:100%;
	background: #81F7BE;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 20px;
}
.commentbot
{
	position: relative;
	width:100%;
	height:  5%;
	background:#FDC179;

}
.nlike
{

	position: relative;
	width:2%;
	left: 3px;
	font-family: 'Barlow Condensed', sans-serif;
	font-color:white;
	font-size: 21px;
	float:left; 
}
.like
{
	position: relative;
	width:10%;
	left: 2px;
	font-family: 'Barlow Condensed', sans-serif;
	color:white;
	font-size: 21px;
	float:left; 
}
.commentcomment
{
	position: relative;
	width:10%;
	font-family: 'Barlow Condensed', sans-serif;
	color:white;
	font-size: 21px;
	float:left;
}
.postt
{
	position: fixed;
	top:40%;
	font-family: 'Barlow Condensed', sans-serif;
	height: 50px;
	width: 60px;
	background: #E3D107;
	font-size: 19.5px;
}
.posttt
{
	display: none;
	position: fixed;
	top:40%;
	font-family: 'Barlow Condensed', sans-serif;
	height: 300px;
	width: 300px;
	background: #E3D107;
	z-index: 1;
}
.xpost
{
	display: none;
	position: absolute;
	top:0px;
	right: 	5px;
	font-size: 15px;
	z-index: 2;
}

input#usrpost{width:200px; height: 200px; }
input#usercommentf{width:500px; height: 200px; }

.logout
{
	position:absolute;
	top:2px;
	right: 40px;
	z-index: 2;
	font-family: 'Itim', cursive;	
}
/*
.commentbox
{

	background: #2EFE9A;
	position:absolute;
	width: 300px;
	height: 60px;
	z-index: 3;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 17px;
}*/

/*For Modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position:relative;
    background-color: #fefefe;
  	left:5%;
  	top:2%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.main
{
	position: relative;
	padding-top: 15px; 
	left: 10%;
	width: 80%;
	background: white;
}
.introname 
{
	position: relative;
	top:5px;
	left:5px; 
	font-family: 'Itim', cursive;	
	font-size: 30px;
}
.introdetail
{
	position: relative;
	font-family: 'Itim', cursive;	
	font-size: 20px;
	width: 50%;
	height: 100px;
	background: #D0F5A9;
	border-radius: 10px;
	border: 0.1px solid white;
}
.search
{
	position: absolute;
	font-family: 'Itim', cursive;
	font-size: 20px;
	left: 300px;
}
.toplove
{
	position: absolute;
	right: 30px;
	top:160px;
	width: 280px;
	height: 300px;
	background: white;
	font-family: 'Itim', cursive;
	font-size: 18px;
	color:black;
	border: 2px solid yellow;
}
.texttoplove
{
	position: relative;
	left:15px;
	top:10px;
}
.detailtoplove
{
	position: relative;
	left:15px;
	top:10px;
	width: 80%;
	height: 80px;
	background: #F5D0A9;
}
input.input-box, textarea { background: #81BEF7; }
.button {
	position: relative;
	left :20px;
    background-color: #58D3F7; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}